<style>
    * {
        margin: 0;
        padding: 0;
    }

a {
color: #03658c;
text-decoration: none;
}

ul {
list-style-type: none;
}

.comments-container {
margin: 60px auto 15px;
width: 768px;
}

.comments-list {
margin-top: 30px;
position: relative;
}


.comments-list:before {
content: '';
width: 2px;
height: 100%;
background: #c7cacb;
position: absolute;
left: 32px;
top: 0;
}

.comments-list:after {
content: '';
position: absolute;
background: #c7cacb;
bottom: 0;
left: 27px;
width: 7px;
height: 7px;
border: 3px solid #dee1e3;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}


.comments-list li {
margin-bottom: 15px;
display: block;
position: relative;
}

.comments-list li:after {
content: '';
display: block;
clear: both;
height: 0;
width: 0;
}

.reply-list {
padding-left: 88px;
clear: both;
margin-top: 15px;
}

.comments-list .comment-avatar {
width: 65px;
height: 65px;
position: relative;
z-index: 99;
float: left;
border: 3px solid #FFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
overflow: hidden;
}

.comments-list .comment-avatar img {
width: 100%;
height: 100%;
}


.comment-main:after {
content: '';
width: 0;
height: 0;
display: block;
clear: both;
}

.comments-list .comment-box {
width: 680px;
float: right;
position: relative;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
content: '';
height: 0;
width: 0;
position: absolute;
display: block;
border-width: 10px 12px 10px 0;
border-style: solid;
border-color: transparent #FCFCFC;
top: 8px;
left: -11px;
}

.comments-list .comment-box:before {
border-width: 11px 13px 11px 0;
border-color: transparent rgba(0,0,0,0.05);
left: -12px;
}

.reply-list .comment-box {
width: 610px;
}
.comment-box .comment-head {
background: #FCFCFC;
padding: 10px 12px;
border-bottom: 1px solid #E5E5E5;
overflow: hidden;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
float: right;
margin-left: 14px;
position: relative;
top: 2px;
color: #A6A6A6;
cursor: pointer;
-webkit-transition: color 0.3s ease;
-o-transition: color 0.3s ease;
transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
color: #03658c;
}

.comment-box .comment-userId {
color: #283035;
font-size: 14px;
font-weight: 700;
float: left;
margin-right: 10px;
}

.comment-box .comment-userId a {
color: #283035;
}

.comment-box .comment-head span {
float: left;
color: #999;
font-size: 13px;
position: relative;
top: 1px;
}

.comment-box .comment-content {
background: #FFF;
padding: 12px;
font-size: 15px;
color: #595959;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
}



@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }

}
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('#btnReply').click(function (e) {
            e.preventDefault();
            var comment = {};
            comment["userId"] = $("#userId").val();
            comment["recipeNo"] = $("#recipeNo").val();
            comment["reply"] = $('#reply').val();
            InsertReply(comment);
        });
    });

    function InsertReply(comment) {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/comment/insert",
            data: JSON.stringify(comment),
            dataType: 'json',
            complete: function (){
                commentLoad();
                $('#reply').val('');
            }
        })
    };

    function commentLoad() {
        var recipeNo = $("#recipeNo").val();
        $.ajax({
            url: '/commentList',
            type: 'POST',
            data: {'recipeNo': recipeNo},
            dataType: 'json',
            success: function (result) {
                var cmt = '';
                $.each(result, function (key, value) {
                    var user = getThumbanil(value.userId);
                    console.log(user);
                    cmt += '<li><div class="comment-main">';
                    cmt +=  '<div class="comment-avatar"><img src="/display?fileName='+user.thumbnail+'" alt=""></div>'
                    cmt +=    '<div class="comment-box">';
                    cmt +=    '<div class="comment-head">';
                    cmt +=    '<h6 class="comment-userId"><a href="kitchen">'+value.userId+'</a></h6>'
                    cmt += '<span>'+value.regDate+'</span>';
                    // cmt +=    '<i onclick="commentUpdate('+value.commentNo+');"> 수정 </i>';
                    cmt +=    '<i onclick="commentDelete('+value.commentNo+');"> 삭제 </i>';
                    cmt +='</div><div class="comment-content">'+value.reply+'</div></div>';
                    cmt +=   '</div></li>';
                    // cmt += '<div class="commentContent'+value.commentNo+'"> <p> 내용 : ' + value.reply + '</p></div>';
                    // cmt += '<div class="commentModify commentModify'+value.commentNo+'"></div>';
                    // cmt += '</div>';
                });
                $(".comments-list").html(cmt);
            }
        });
    }

    function commentDelete(commentNo){
        $.ajax({
            type : 'DELETE',
            url : '/comment/delete/' + commentNo,
            success : function(result){
                console.log("삭제")
                if(result == 1)
                    commentLoad(recipeNo); //댓글 삭제후 목록 출력
            }
        });
    }

    function getComment(commentNo) {
        return $.ajax({
            type: "GET",
            url: "/comment/" +commentNo,
            contentType: 'application/json',
        });
    }

    function getThumbanil(userId) {
        return $.ajax({
            type: "GET",
            url: "/user/"+userId,
            dataType: "text",
        });
    }


    function commentUpdate(commentNo) {
        getComment(commentNo).then(function (result) {
            $('.commentModify').html("");
            var a = '';
            a += '<div class="input-group">';
            a += '<input type="text" class="form-cont' +
                'rol" name="reply_' + commentNo + '" value="' + result.reply + '"/>';
            a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="update(' + commentNo + ',\'' + result.reply + '\');">수정</button> </span>';
            a += '</div>';
            $('.commentModify' + result.commentNo).html(a);
            console.log(reply);
        });
    }
    function update(commentNo,reply) {
        var comment = {};
        comment["commentNo"] = commentNo;
        comment["reply"]= $('[name=reply_'+commentNo+']').val();
        console.log(comment);
        $.ajax({
            type: 'PUT',
            data: JSON.stringify(comment),
            dataType: 'json',
            async: true,
            url: '/comment/update/' + commentNo,
            contentType: 'application/js' + 'on; charset=utf-8',
            complete: function (){
                console.log("업데이트");
                commentLoad(); //댓글 삭제후 목록 출력
            }
        });
    };

    $(document).ready(function () {
        commentLoad();
    });
</script>
