<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pgrid-recipe-list.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/pic-grid-list.js}"></script>
</th:block>




<div layout:fragment="content">
    <div class="center-content">
        <div class="recipe-grid">
            <ul class="grid-list list img-list">
                <th:block th:each="recipe: ${recipes}">
                
                    <li>
                        <div class="post-module">
                            <div class="post-thumbnail">
                                <div class="date">
                                    <i class="fas fa-paperclip"></i>
                                </div>
                                <img th:src="@{'/display?fileName='+${recipe.thumbnail}}" />
                            </div>
                            <div class="post-content">
                                <div class="category" th:text="${recipe.category.title}"></div>
                                <a th:href="@{'/recipe/'+${recipe.recipeNo}}">
                                    <h1 class="post-title" th:text="${recipe.title}"></h1>
                                    <h2 class="sub-title">
                                        <th:block th:each="tag, tagStat: ${recipe.tags}">
                                            <th:block th:if="${tagStat.index} lt 4">
                                                <i class="fas fa-hashtag"></i><th:block th:text="${tag.content}+'  '"></th:block>
                                            </th:block>
                                        </th:block>
                                    </h2>
                                    <p class="description" th:text="${recipe.content}"></p>
                                </a>
                                <div class="post-meta">
                                    <span class="timestamp">
                                        <i class="fa fa-clock-o"></i>
                                        <th:block th:text="${#dates.format(recipe.regDate, 'yyyy-MM-dd')}"></th:block>
                                    </span>
                                    <span class="comments">
                                        <i class="fa fa-heart"></i>
                                        <th:block th:text="${recipe.likes.size()}"></th:block>
                                    </span>
                                </div>
                            </div>


                        </div>
                        
                    </li>
                
                </th:block>
            </ul>
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/recipe/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
            <div class="page-container large">
                <div class="pagination">
                    <ul>
                        <li class="page-li">
                            <a class="page previous" th:href="@{'/recipe/list?page='+${curPage le 1? 1:${curPage}-1}}"></a>
                        </li>

                        <th:block th:each="pageNum : ${pageList}">
                            <th:block th:if="${pageNum}!=null">
                                <th:block th:if="${curPage}==${pageNum}">
                                    <li class="page-li active">
                                        <a class="page" th:href="@{'/recipe/list?page='+${pageNum}}"></a>
                                    </li>
                                </th:block>
                                <th:block th:unless="${curPage}==${pageNum}">
                                    <li class="page-li">
                                        <a class="page" th:href="@{'/recipe/list?page='+${pageNum}}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:if="${curPage}!=${lastPage}">
                        <li class="page-li">
                            <a class="page next" th:href="@{'/recipe/list?page='+${curPage+1}}"></a>
                        </li>
                        </th:block>

                        <th:block th:each="pageNum, pageStat : ${pageList}" th:if="${pageNum!=null}" th:inline="text">
                            <li th:if="${curPage}==${pageNum}" class="page-li active">
                                <a class="page" th:href="@{'/recipe/list?page='+${pageNum}}"></a>
                            </li>
                            <li th:unless="${curPage}==${pageNum}" class="page-li">
                                <a class="page" th:href="@{'/recipe/list?page='+${pageNum}}"></a>
                            </li>
                        </th:block>
                        <li  class="page-li">
                            <a class="page next" th:href="@{'/recipe/list?page='+${lastPage}}"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>