<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" pageEncoding="UTF-8">
    <title>Title</title>
</head>
<style>
    .starR{
        background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
        background-size: auto 100%;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
    }
    .starR.on{background-position:0 0;}
</style>
<body>
여기는 레시피 등록이란다.
<form id="recipe-form" th:with="count=1, ingre_cnt=1">

    유저 아이디<input type="text" id="userId">
    제목<input type="text" id="title">
    내용<input type="text" id="content">
    카테고리 코드(100)<input type="text" id="categoryNo">
    <br>
    난이도
    <div class="starRev">
        <span class="starR on">별1</span>
        <span class="starR">별2</span>
        <span class="starR">별3</span>
        <span class="starR">별4</span>
        <span class="starR">별5</span>
    </div>
    <input type="hidden" id="difficulty" value="">
    <br>
    <div style="width:200px;">
        몇 인분? <select id="serving">
        <option value="1">1인분</option>
        <option value="2">2인분</option>
        <option value="3">3인분</option>
        <option value="4">4인분</option>
        <option value="5">5인분</option>
        <option value="6">6인분</option>
        <option value="7">7인분</option>
        <option value="8">8인분 이상</option>
    </select>
    </div>

    <div style="width:200px;">
        소요시간? <select id="cookingTime">
        <option value="1">5분 이내</option>
        <option value="2">10분 이내</option>
        <option value="3">15분 이내</option>
        <option value="4">20분 이내</option>
        <option value="5">30분 이내</option>
        <option value="6">60분 이내</option>
        <option value="7">90분 이내</option>
        <option value="8">2시간 이내</option>
        <option value="9">2시간 이상</option>
    </select>
    </div>
    <div class="Ingredient_box">
        <div th:id="'divStepIngre_'+${ingre_cnt}" class="ingre_step">
            <input type="text" class="ingre_name" th:id="'ingre_name_'+${ingre_cnt}">
            <input type="text" class="ingre_amount" th:id="'ingre_amount_'+${ingre_cnt}">
            <a th:id="'btnIngrementDel_'+${ingre_cnt}" th:href="'javascript:delIngrement('+${ingre_cnt}+')'" class="btn-del">x</a>
        </div>
        <input type="hidden" id="ingreCnt" th:value="${ingre_cnt}">
    </div>
    <button type="button" onclick="addIngrement()">추가</button>

    <br><br>
    <img id="thumbnail" onclick="browseMainFile()" src="https://recipe1.ezmember.co.kr/img/pic_none4.gif" style="width: 250px; height: 250px; cursor:pointer">
    <div style="position:absolute; left:-3000px">
        <input type="file" class="fileUploader" id="uploadFile_0">
        <input type="hidden" id="stepThumb_0" value="">
    </div>
    <div id="divStepUpload_0" style="display: inline-block">
    </div>
    <br><br>
    스텝
    <div class="cont_box">
        <div th:id="'divStepItem_'+${count}" class="step">
            <p>step</p>
            <div th:id="'diveStepContent'+${count}">
                <textarea name="step_text[]" th:id="'step_text_'+${count}" class="stepC" style="height: 160px; width:430px; resize:none;"></textarea>
            </div>
            <div th:id="'divStepUpload_'+${count}" style="display: inline-block">

            </div>
            <div style="position:absolute; left:-3000px">
                <input type="file" class="fileUploader" th:id="'uploadFile_'+${count}">
            </div>
            <div th:id="'divStepPhotoBox_'+${count}">
                <img th:id="'stepPhotoHolder_'+${count}" src="https://recipe1.ezmember.co.kr/img/pic_none2.gif" width="160" height="160" th:onclick="'browseStepFile('+${count}+')'" style="cursor:pointer; position: relative;">
                <input type="hidden" class="stepT" th:id="'stepThumb_'+${count}" value="">
            </div>
            <button type="button" th:onclick="'addStep('+${count}+')'">스텝늘리기</button>
            <!--    <button type="button" th:onclick="'delStep('+${count}+')'">스텝삭제</button>-->
        </div>
    </div>

    <div>
        <button type="submit" value="Submit">등록 테스트</button>
    </div>
</form>


</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    var regex = new RegExp("(.*?)\.(jpg|png|img)$");
    var maxSize = 5242880;
    $(document).ready(function(){
        $("#recipe-form").submit(function(event){
            event.preventDefault();

            $("#recipe-form").attr("action", "/recipe/list");
            $("#recipe-form").attr("method", "get");
            btn_ajaxsubmit();

        });
    });
    $('.starRev span').click(function(){
        $(this).parent().children('span').removeClass('on');
        $(this).addClass('on').prevAll('span').addClass('on');
        var cnt = 0;
        for(let i=0; i<5; i++)
        {
            if($(this).parent().children('span')[i].className.endsWith("on")==true)
            {
                cnt++;
            }
        }
        $("#difficulty")[0].value = cnt;
        return false;
    });

    function delIngrement(url)
    {
        console.log(url);
        $("#divStepIngre_"+url).remove();
    }
    function addIngrement(){
        console.log("추가");
        var ingreCnt = $("#ingreCnt").val();
        ingreCnt++;
        $("#ingreCnt")[0].value = ingreCnt;

        var str = "";
        str += "  <div id=\"divStepIngre_"+ingreCnt+"\" class=\"ingre_step\">\n" +
            "            <input type=\"text\" class=\"ingre_name\" id=\"ingre_name_"+ingreCnt+"\">\n" +
            "            <input type=\"text\" class=\"ingre_amount\" id=\"ingre_amount_"+ingreCnt+"\">\n" +
            "            <a id=\"btnIngrementDel_"+ingreCnt+"\" href=\"javascript:delIngrement("+ingreCnt+")\" class=\"btn-del\">x</a>\n" +
            "    </div>";
        $(".Ingredient_box").append(str);
    }

    function browseStepFile(url)
    {
        $("#uploadFile_"+url).click();
    }
    var photoList=$(".photo");
    var filePath=$('input[type=file');
    $(document).on("change",".fileUploader",function(){
        upload(this);
    });
    function browseMainFile(){
        $("#uploadFile_0").click();
    }
    function upload(e){
        var getId = e.id;
        getId = getId.substring(getId.lastIndexOf("_")+1);
        var arrNum = getId;
        var formData = new FormData();
        var files = $("#uploadFile_"+arrNum)[0].files;
        var uploadFileName = "uploadFile";
        for (let i = 0; i < e.files.length; i++) {
            if (!checkExtenstion(files[i].name, files[i].size)) {
                return false;
            }
            formData.append(uploadFileName, files[i]);
        }
        $.ajax({
            url: '/upload/uploadAjaxAction',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                setUploadedFile(result, arrNum);
            }
        });
    };
    function checkExtenstion(fileName, fileSize){
        if(fileSize >= maxSize){
            alert("파일 사이즈 초과");
            return false;
        }
        if(!regex.test(fileName))
        {
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
        }
        return true;
    }

    function setUploadedFile(uploadResultArr, idx)
    {
        var str = "";
        var fileCallPath = "";

        $(uploadResultArr).each(function(i,obj){
            if(obj.image)
            {
                //fileCallPath = encodeURIComponent(obj.uploadPath+"/s_"+obj.uuid+"_"+obj.fileName);
                fileCallPath = encodeURIComponent(obj.uploadPath+"/s_"+obj.fileName);
                console.log(fileCallPath);
                str += "<data-path='"+obj.uploadPath+"'";
                str += " data-uuid='"+obj.uuid+"' data-file=\'"+fileCallPath+"\' data-type='image' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'" + "data-id='"+idx+"'";
                str += ">";
                // str += "</li>";
                // str += "<span>"+obj.showFileName+"</span>";
                // str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' id='"+idx+"' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button></br>";
                // str += "<img src='/display?fileName="+fileCallPath+"'>";
            }
            else
            {
            }
        });
        if(idx==0){
            $("#thumbnail")[0].src =  "/display?fileName="+fileCallPath;
            $("#stepThumb_0")[0].value = fileCallPath;
        }else{
            $("#stepPhotoHolder_"+idx)[0].src = "/display?fileName="+fileCallPath;
            $("#stepThumb_"+idx)[0].value = fileCallPath;
        }
        $("#divStepUpload_"+idx)[0].innerHTML = str;

    }

    function delStep(idx) {
        $("#divStepItem_"+idx).remove();
    };
    function addStep(idx){
        idx = idx+1;
        var str="<div id=\"divStepItem_"+idx+"\" class=\"step\">\n" +
            "    <p>step"+idx+"</p>\n" +
            "    <div id=\"diveStepContent"+idx+"\">\n" +
            "        <textarea name=\"step_text[]\" id=\"step_text_"+idx+"\" class=\"stepC\" style=\"height: 160px; width:430px; resize:none;\"></textarea>\n" +
            "    </div>\n" +
            "    <div id=\"divStepUpload_"+idx+"\" style=\"display: inline-block\">\n" +
            "\n" +
            "    </div>\n" +
            "    <div style=\"position:absolute; left:-3000px\">\n" +
            "        <input type=\"file\" class=\"fileUploader\" id=\"uploadFile_"+idx+"\">\n" +
            "<!--        <input type=\"file\" th:name=\"'q_step_file_'+${count}\" th:id=\"'q_step_file_'+${count}\"-->\n" +
            "<!--               style=\"display:; width: 0px; height: 0px; font-size: 0px;\" text>-->\n" +
            "    </div>\n" +
            "    <div id=\"divStepPhotoBox_"+idx+"\">\n" +
            "        <img id=\"stepPhotoHolder_"+idx+"\" src=\"https://recipe1.ezmember.co.kr/img/pic_none2.gif\" width=\"160\" height=\"160\" onclick=\"browseStepFile("+idx+")\" style=\"cursor:pointer; position: relative;\">\n" +
            "    <input type=\"hidden\" class=\"stepT\" id=\"stepThumb_"+idx+"\" value=\"\">"+
            "    </div>\n" +
            "    <button type=\"button\" onclick=\"addStep("+idx+")\">스텝늘리기</button>\n" +
            "    <button type=\"button\" onclick=\"delStep("+idx+")\">스텝삭제</button>\n" +
            "</div>";
        $(".cont_box").append(str);
    }

    function btn_ajaxsubmit(){
        var test ={};
        var profile = {};
        var category = {};
        var serving = $("#serving");
        var cookingTime = $("#cookingTime");
        category["categoryNo"] = $("#categoryNo").val();
        profile["userId"] = $("#userId").val();
        test["title"] = $("#title").val();
        test["profile"] = profile;
        test["content"] = $("#content").val();
        test["category"] = category;
        test["thumbnail"] = $("#stepThumb_0")[0].value;
        test["difficulty"] = $("#difficulty").val();
        test["serving"] = serving[0].options[serving[0].selectedIndex].value;
        test["cookingTime"] = cookingTime[0].options[cookingTime[0].selectedIndex].value;




        var stepT = $(".stepT");
        var stepC = $(".stepC");
        var inStep  =[];
        var stepLength = stepC.length;

        for(let i=0; i<stepLength; i++)
        {
            var steps = {};
            steps["stepNo"] = i+1;
            steps["thumbnail"] = stepT[i].value;
            steps["content"] = stepC[i].value;
            inStep.push(steps);
        }

        var IngreN = $(".ingre_name");
        var IngreA = $(".ingre_amount");
        var inIngre = [];
        var IngreLength = IngreN.length;
        for(let i=0; i<IngreLength; i++)
        {
            var steps = {};
            steps["ingredientNo"] = i+1;
            steps["name"] = IngreN[i].value;
            steps["amount"] = IngreA[i].value;
            inIngre.push(steps);
        }
        test["steps"]=inStep;
        test["ingredients"]=inIngre;
        console.log(JSON.stringify(test));
        $.ajax({
            type:"POST",
            contentType : "application/json",
            url : "/recipe/ajaxTest",
            data : JSON.stringify(test),
            dataType : 'json',
            success:function(data){
                console.log("SUCESS: ", data);
                // $("#recipe-form").submit();
            }
        })

    }
</script>
</body>
</html>