<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
내가 비공개 계정이면 팔로우 신청한 계정들 목록
<table>
    <thead>
    <tr>
        <th>신청자 아이디</th>
        <th>수락</th>
        <th>거절</th>
    </tr>
    </thead>

    <td>신청자 아이디</td>
    <div id="followDiv">
        <td><input type="button" value="수락"></td>
        <td><input type="button" value="거절"></td>
    </div>
    </tr>
</table>
</body>
</html>