<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">

<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/kitchen.css}">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/kitchen.js}"></script>
</th:block>

<div layout:fragment="content">
    <!-- html 내용 추가 -->


    <!-- 공통 설정:class에 대해서 -->
    <!-- 특별한 경우 제외하고 기본으로 쓰는 제일 대왕 부모 디브:페이지 전체감싸기 -->
    <div class="center-content">

        <!--    profile-content 시작   -->
        <div class="profile-content">
            <p th:text="${profile.nickname}+'님의 주방에 오신걸 환영합니다!'"
               style="padding-bottom: 22px; font-size: 26px;margin-left: 100px;"></p>
            <!-- 데이터 보내려고 hidden -->
            <div sec:authorize="isAuthenticated()">
                <input type="hidden" id="userId" th:value="${#authentication.principal.userId}">
            </div>
            <input type="hidden" id="followUserId" th:value="${profile.userId}">
            <!--  hidden 끝 -->

            <!-- 프로필 -->
            <div class="profile-top" style="display: inline-flex">
                <!-- 유저 공개 비공개따라서 테두리 색 다르게 -->
                <div th:type="text" th:if="${profile.isPrivate != false}">
                    <img class="thumbnail" th:src="@{'/display?fileName='+${profile.getThumbnail()}}" alt="" style="border: 6px solid limegreen">
                </div>
                <div th:type="text" th:unless="${profile.isPrivate != false}">
                    <img class="thumbnail" th:src="@{'/display?fileName='+${profile.getThumbnail()}}" alt="" style="border: 6px solid indianred">
                </div>

                <a href="#" class="top-content">
                    <p>게시물</p>
                    <p th:text="${recipes.size()}"></p>
                </a>
                <a href="#" class="top-content">
                    <p>팔로워</p>
                    <p th:text="${followers.size()}"></p>
                </a>
                <a href="#" class="top-content">
                    <p>팔로잉</p>
                    <p th:text="${followees.size()}"></p>
                </a>
            </div>
            <!-- profile-top 끝 -->
            <div class="profile-bottom">
                <p th:text="${profile.bio}"></p>

                <!--                 팔로우버튼-->
                <div id="followDiv">
                    <!--  내가 팔로우 안한 계정이면 팔로우하기 보이기  -->
                    <input th:if="${isFollow != true}" th:id="create-follow" class="follow-btn"
                           type="button" value="Follow">
                    <input th:unless="${isFollow != true}" th:id="delete-follow" class="follow-btn"
                           type="button" value="Unfollow">
                </div>
            </div>
        </div>
        <!--            profile-content 끝-->

        <!--  공개계정 :  레시피 컨텐트    -->
        <div th:type="text" th:if="${profile.isPrivate != false}" style="margin-left: 10%">
            <input type="hidden" name="status" value="false">

            <!-- 인덱스에도 쓴 레시피 디브(레시피 섬네일이 바탕에 들어가고, 그위에 제목,내용 넣고 마우스올리면 태그들 뜨게 하면 좋을듯....) -->
            <div class="photo-recipe" th:each="recipe, recipeStat: ${recipes}" style="display: inline-flex">
                <a th:href="@{'/recipe/'+${recipe.recipeNo}}">
                    <div class="photo-recipe-background">

                        <div class="recipe">
                            <div class="photo-recipe-thumbnail">
                                <img style="width: 100%; height: 80%" th:src="@{'/display?fileName='+${recipe.thumbnail}}">
                                <div class="photo-recipe-title">
                                    <span th:text="${recipe.title}"></span>
                                </div>
                            </div>
                            <ul class="recipe-info">
                                <li><i class="fa fa-clock-o"></i><span th:text="${recipe.cookingTime}+'분이내'"></span></li>
                                <li><i class="fa fa-star"></i><span th:text="${recipe.difficulty}"></span></li>
                                <li><i class="fa fa-cutlery"></i> <span th:text="${recipe.serving}+'인분'"></span></li>
                            </ul>
                        </div>

                    </div>
                </a>
            </div>

        </div>

        <!--  비공개계정  -->
        <div th:type="text" th:unless="${profile.isPrivate != false}">
            <input type="hidden" name="status" value="true">
            비공개 계정입니다. 레시피를 보려면 계정을 팔로우하세요.
        </div>

    </div>
</div>

</html>