<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .thumbnail {
        width: 100px; height: 100px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
    }
</style>
<h1>내 주방</h1>
<p th:type="text" th:value="${user.profile.isPrivate}"></p>
<img class="thumbnail" th:src="${user.profile.getThumbnail()}">
<p th:text="'닉네임 : '+${user.profile.nickname}"></p>
<p th:text="'자기소개 : '+${user.profile.bio}"></p>
<a href="#">
    <p th:text="'팔로잉(내가 팔로잉하는 사람들) : '+${user.following.size()}"></p>
</a>
<a href="#">
    <p th:text="'팔로워(나를 팔로워하는 사람들) : '+${user.followers.size()}"></p>
</a>
<a href="/kitchen/apply">팔로우 신청 목록</a>
<table>
    <thead>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>썸넬</th>
        <th>소개</th>
        <th>삭제하기</th>
    </tr>
    </thead>
    <tr th:each="recipe, stat: *{recipes}">
        <td th:text="${stat.count}" ></td>
        <td><a th:href="@{'/recipe/'+${recipe.recipeNo}}"><p th:text="${recipe.title}"></a></td>
        <td><img th:src="@{'/display?fileName='+${recipe.getThumbnail()}}" style="width: 250px; height: 250px;"></td>
        <td th:text="${recipe.content}"></td>
        <td><a th:href="@{'/recipe/delete/' + ${recipe.recipeNo}}">삭제</a></td>
    </tr>
</table>
</body>
</html>