<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">

<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/kitchen.css}">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <link type="text/javascript" th:href="@{/js/kitchen-follow.js}">
</th:block>

<div layout:fragment="content">
    <!-- html 내용 추가 -->

    <!-- 공통 설정:class에 대해서 -->
    <!-- 특별한 경우 제외하고 기본으로 쓰는 제일 대왕 부모 디브:페이지 전체감싸기 -->
    <div class="center-content">

        <!--    profile-content 시작   -->
        <div class="profile-content">
            <p style="padding-bottom: 22px; font-size: 26px;">👨🏻‍🍳 ‍내 주방</p>
            <!-- 프로필 -->
            <div class="profile-top" style="display: inline-flex">
                <!-- 유저 공개 비공개따라서 테두리 색 다르게 -->
                <img class="thumbnail" th:src="@{'/display?fileName='+${profile.getThumbnail()}}" alt="" style="border: 4px solid #495057">
                <a th:href="@{'/kitchen/'+${profile.userId}}" class="top-content">
                    <p>게시물</p>
                    <p th:text="${recipes.size()}"></p>
                </a>
                <a href="#followerModal" id="follower" class="top-content">
                    <p>팔로워</p>
                    <p th:text="${followers.size()}"></p>
                </a>

                <div id="followerModal" class="overlay">
                    <div class="popup">
                        <h2>팔로워</h2>
                        <div class="close" onclick="document.getElementById('followerModal').style.display='none'">&times;</div>
                        <div class="content">
                            <div class="follow" style="display: inline-grid">
                                <!--                                키친의 주인을 팔로워한 사람들<br>-->
                                <div style="display: inline-flex" th:each="follower : ${followers}">
                                    <a  th:href="@{'/kitchen/'+${follower.userId}}">
                                        <img th:src="@{'/display?fileName='+${follower.getThumbnail()}}"
                                             class="thumbnail" style="margin-right:20px; width: 70px; height: 60px">
                                        <p th:text="${follower.nickname}">
                                    </a>
                                </div>
                                <!-- 팔로우 포이치 도는 디브 끝-->
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#followingModal" class="top-content">
                    <p>팔로잉</p>
                    <p th:text="${following.size()}"></p>
                </a>
                <div id="followingModal" class="overlay">
                    <div class="popup">
                        <h2>팔로잉</h2>
                        <div class="close"  onclick="document.getElementById('followingModal').style.display='none'">&times;</div>
                        <div class="content">
                            <div class="follow" style="display: inline-grid">
                                <div style="display: inline-flex" th:each="following : ${following}">
                                    <a  th:href="@{'/kitchen/'+${following.userId}}">
                                        <img th:src="@{'/display?fileName='+${following.getThumbnail()}}"
                                             class="thumbnail" style="margin-right:20px; width: 70px; height: 60px">
                                        <p th:text="${following.nickname}">
                                    </a>
                                </div>
                                <!-- 팔로우 포이치 도는 디브 끝-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- profile-top 끝 -->
            <div class="profile-bottom">
                <p th:text="${profile.bio}"></p>

                <div id="profile-div">
                    <!--  내가 팔로우 안한 계정이면 팔로우하기 보이기  -->
                    <a th:href="'/'+${profile.userId}+'/apply'"><input
                            class="profile-btn"
                            type="button" value="Apply"></a>
                    <a th:href="'/profile/scraplist'"><input
                            class="profile-btn"
                            type="button" value="Scrap"></a>
                </div>

            </div>
        </div>
        <!--            profile-content 끝-->
        <hr style="height: 0; margin: 1% 14% 0 14%;" size="700">

        <div class="big-recipe">
        <!-- 인덱스에도 쓴 레시피 디브(레시피 섬네일이 바탕에 들어가고, 그위에 제목,내용 넣고 마우스올리면 태그들 뜨게 하면 좋을듯....) -->
        <div class="photo-recipe" th:each="recipe, recipeStat: ${recipes}" style="display: inline-flex">
            <a th:href="@{'/recipe/'+${recipe.recipeNo}}">
                <div class="photo-recipe-background">

                    <div class="recipe">
                        <div class="photo-recipe-thumbnail">
                            <img style="width: 100%; height: 80%" th:src="@{'/display?fileName='+${recipe.thumbnail}}">
                            <div class="photo-recipe-title">
                                <span th:text="${recipe.title}"></span>
                            </div>
                        </div>
                        <ul class="recipe-info">
                            <li><i class="fa fa-clock-o"></i><span th:text="${recipe.cookingTime}"></span></li>
                            <li><i class="fa fa-star"></i><span th:text="${recipe.difficulty}"></span></li>
                            <li><i class="fa fa-cutlery"></i> <span th:text="${recipe.serving}+'인분'"></span></li>
                        </ul>
                    </div>

                </div>
            </a>
        </div>
        </div>

    </div>
</div>
</html>