<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는 프로필 등록 이란다.
<form th:action="@{/profile/register}" th:object="${profile}" method="post">
    <div>
        등록된 유저아이디<input type="text" th:field="*{userId}">
    </div>
    <div>
        유저닉넴<input type="text" th:field="*{nickname}">
    </div>
    <div>
        유저소개<input type="text" th:field="*{bio}">
    </div>
    <div>
        <button type="sumbit" value="Submit">등록테스트</button>
    </div>
</form>


</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>