<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/register-user.css}">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/single-photo-upload.js}"></script>
    <script type="text/javascript" th:src="@{/js/register-user.js}"></script>
</th:block>

<div layout:fragment="content">
    <!-- html 내용 추가 -->



    <!-- 공통 설정:class에 대해서 -->
    <!-- 특별한 경우 제외하고 기본으로 쓰는 제일 대왕 부모 디브:페이지 전체감싸기 -->
    <div class="center-content float-parent">

        
        <!-- 로그인 회면처럼 딱 중간에 하나만 뜨는 화면일때 쓰는 디브 -->
        <div class="center-float">
            <form id="user-form" class="background-form" method="post">
        
                <h2>회원 가입</h2>
                
                <fieldset>
                <legend><span class="number">1</span>계정 정보</legend>
                <label for="userId">아이디:</label>
                <input type="text" id="userId">
                
                <label for="email">이메일:</label>
                <input type="email" id="email" name="user_email">
                
                <label for="password">비밀 번호:</label>
                <input type="password" id="password">        
                
                <label for="re-password">비밀 번호 확인:</label>
                <input type="password" id="re-password">
                
                
                <fieldset>
                <legend><span class="number">2</span>프로필 정보</legend>
                
                <label for="nickname">닉네임:</label>
                <input type="text" id="nickname">
                
                <label for="bio">자기 소개:</label>
                <textarea id="bio"></textarea>
                </fieldset>
                
                
                <fieldset>
                <label for="thumbnail">프로필 공개 여부:</label>
                <img id="single-thumbnail" onclick="browseMainFile()" src="https://recipe1.ezmember.co.kr/img/pic_none4.gif">
                    <div class="hidden-div">
                        <input type="file" class="fileUploader" id="single-uploadFile">
                        <input type="hidden" id="single-thumbnailUrl" value="">
                    </div>
                </fieldset>
                <fieldset>
                <label for="private">프로필 공개 여부:</label>
                    공개합니다.<input type="checkbox" id="private">
                </fieldset>
                
                
                <button type="sumbit" value="Submit" class="user-register-button">회원 가입</button>
            </form>
        </div>


    </div>



  
</div>



</html>