<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는 유저 등록 이란다.
<form id="user-form" th:with="count=1">
    <div>
        유저아이디<input type="text" id="userId">
    </div>
    <div>
        유저비번<input type="password" id="password">
    </div>
    <div>
        이멜<input type="email" id="email">
    </div>
    <div>
        닉<input type="text" id="nickname">
    </div>
    <img id="thumbnail" onclick="browseMainFile()" src="https://recipe1.ezmember.co.kr/img/pic_none4.gif" style="width: 250px; height: 250px; cursor:pointer">
    <div style="position:absolute; left:-3000px">
        <input type="file" class="fileUploader" id="uploadFile">
        <input type="hidden" id="thumbnailUrl" value="">
    </div>
    <div>
        소개<input type="text" id="bio">
    </div>
    <div>
        비공개?<input type="checkbox" id="private">
    </div>

    <div>
        <button type="sumbit" value="Submit">등록테스트</button>
    </div>
</form>


</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var regex = new RegExp("(.*?)\.(jpg|png|img)$");
    var maxSize = 1048576;
    $(document).ready(function(){
        $("#user-form").submit(function(event){
            event.preventDefault();

            $("#recipe-form").attr("action", "/recipe/list");
            $("#recipe-form").attr("method", "get");
            btn_ajaxsubmit();

        });
    });

    var filePath=$('input[type=file]');
    $(document).on("change",".fileUploader",function(){
        upload(this);
    });
    function browseMainFile(){
        $("#uploadFile").click();
    }
    function upload(e){

        var formData = new FormData();
        var files = $("#uploadFile")[0].files;
        var uploadFileName = "uploadFile";
        if (!checkExtenstion(files[0].name, files[0].size)) {
            return false;
        }
        formData.append(uploadFileName, files[0]);

        $.ajax({
            url: '/upload/uploadAjaxAction',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                setUploadedFile(result);
            }
        });
    };

    function checkExtenstion(fileName, fileSize){
        if(fileSize >= maxSize){
            alert("파일 사이즈 초과");
            return false;
        }
        if(!regex.test(fileName))
        {
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
        }
        return true;
    }

    function setUploadedFile(uploadResultArr)
    {
        var str = "";
        var fileCallPath = "";

        $(uploadResultArr).each(function(i,obj){
            if(obj.image)
            {
                //fileCallPath = encodeURIComponent(obj.uploadPath+"/s_"+obj.uuid+"_"+obj.fileName);
                fileCallPath = encodeURIComponent(obj.uploadPath+"/s_"+obj.fileName);
                console.log(fileCallPath);
                str += "<data-path='"+obj.uploadPath+"'";
                str += " data-uuid='"+obj.uuid+"' data-file=\'"+fileCallPath+"\' data-type='image' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'" + "data-id='1'";
                str += ">";
                // str += "</li>";
                // str += "<span>"+obj.showFileName+"</span>";
                // str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' id='"+idx+"' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button></br>";
                // str += "<img src='/display?fileName="+fileCallPath+"'>";
            }
            else
            {
            }
        });
        $("#thumbnail")[0].src =  "/display?fileName="+fileCallPath;
        $("#thumbnailUrl")[0].value = fileCallPath;

    }

    function btn_ajaxsubmit(){

        var user ={};
        user["userId"] = $("#userId").val();
        user["password"] = $("#password").val();
        user["email"] = $("#email").val();
        user["nickname"] = $("#nickname").val();
        user["thumbnail"] = $("#thumbnailUrl").val();
        user["bio"] = $("#bio").val();
        user["isPrivate"] = $('input:checkbox[id="private"]').is(":checked") == true? "true":"false";


        console.log(JSON.stringify(user));
        $.ajax({
            type:"POST",
            contentType : "application/json",
            url : "/user/register",
            data : JSON.stringify(user),
            dataType : 'json',
            success:function(data){
                console.log("SUCESS: ", data );
                // $("#recipe-form").submit();
            }
        })

    }
</script>
</body>
</html>