<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment">

    <section class="c-section index-center-content i-footer"
             style="padding-bottom: 0; margin-bottom: 0;">


        <div class="footer-wrapper">
            <div class="footer" id="info_footer">
                <div class="info_inner">
                    <div class="info_banner">
                        <div class="float-parent">
                            <div class="info-link">
                                <a href="#" target="_blank">회사소개</a><span>|</span>
                                <a href="#" target="_blank">광고문의</a><span>|</span>
                                <a href="#" target="_blank">개인정보처리방침</a><span>|</span>
                                <a href="#" target="_blank">이용약관 </a><span>|</span>
                                <a href="#">고객센터</a>
                            </div>
                            <div class="info-link">
                                Copyright <b>©Cookstagram</b> Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</footer>
</html>