<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">


    <!-- 헤더 들어가는 디브 -->
    <div class="header-container">
        <header>
            <!-- 백그라운드+로고 -->
            <div class="header-background">

            </div>
            <div class="header-logo">

                <p class="logo-title"><a href="/">쿡스타그램</a></p>
            </div>


            <div class="nav-container" id="header-nav">
                <!-- 주 메뉴 -->
                <div class="nav-outer-menu">
                    <div class="nav-outer-item-list">
                        <button class="dropdown-btn" onclick="location.href='/recipe/list'">
                            최신 레시피
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <img src="https://i.ibb.co/H7bwMHm/1.jpg">

                                    </div>
                                    <div class="float-inner-large">

                                        <span class="nav-inner-item">
                                             <span class="art-txt">
                                                🍛맛있는 집밥 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                레시피 최신 순으로 보기
                                            </a>
                                        </span>

                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                👨‍🍳내가 구독한 주방장들의 최신 레시피
                                           </span>
                                       </span>
                                       <span class="nav-inner-item">
                                            <!-- 에이잭스 레시피 돌리기 -->


                                           <a href="#">
                                               쾌남동일
                                           </a>
                                           <a href="#">
                                                hal
                                            </a>
                                            <a href="#">
                                                토게피
                                            </a>
                                           <a href="#">
                                                아구몬
                                           </a>

                                       </span>
                                    </div>
                                </div>
                            </div>

                        </button>
                        <button class="dropdown-btn">
                            트렌드
                            <!-- 세부 메뉴 -->
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <img src="https://i.ibb.co/sPgXJHr/e.jpg">

                                    </div>
                                    <div class="float-inner-large">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🎇떠오르는 인기 태그
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">

                                            <!-- 에이잭스 태그 돌리기 -->

                                            <a href="#">
                                                #감자
                                            </a>
                                            <a href="#">
                                                #백종원
                                            </a>
                                            <a href="#">
                                                #전투식량
                                            </a>

                                        </span>
                                    </div>
                                </div>

                            </div>
                        </button>


                        <button class="dropdown-btn">
                            카테고리
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🍚한식 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                반찬
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                국/탕
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                고기, 생선 요리
                                            </a>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🍝이국적 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                고기, 생선 요리
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                야채 요리
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                밥, 면 요리
                                            </a>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🍰디저트 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                베이커리
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                전통 간식
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                과일
                                            </a>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🍹음료 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                건강 음료
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                맛있는 음료
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="#">
                                                알코올
                                            </a>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </button>




                        <button class="dropdown-btn" onclick="location.href='/user/list'">
                            주방장
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-large">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🏆주방장 인기 랭킹
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                <a>🥇백종원</a>
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                <a>🥈이연복</a>
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                <a>🥉쾌남동일</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                        <img src="https://i.ibb.co/nQD4ymf/3.jpgg">
                                    </div>
                                </div>
                            </div>

                        </button>





                        <button sec:authorize="isAuthenticated()" class="recipe-btn" onclick="location.href='/recipe/register'">
                            <i class="fas fa-plus"></i><span class="recipe-btn-txt">레시피 등록</span>
                        </button>

                        <button sec:authorize="isAuthenticated()" class="recipe-btn" th:onclick="|window.location.href='@{/kitchen/{userId} (userId=${#authentication.getPrincipal().getUsername()}) }'|">
                            <i class="fas fa-user"></i><span class="recipe-btn-txt">마이 키친</span>
                        </button>

                        <!-- <a sec:authorize="isAuthenticated()" th:href="@{/kitchen/{userId} (userId=${#authentication.getPrincipal().getUsername()}) }" class="side-icon">
                            <i class="far fa-user"></i>
                        </a> -->



                    </div>
                    <!-- .nav-outer-menu -->
                </div>







                <!-- .nav-container -->
            </div>
            <div class="nav-side-container">
                <!-- 오른쪽 구석탱이 작은 메뉴 -->
                <div class="nav-corner-menu">
                    <a sec:authorize="isAnonymous()" th:href="@{/user/register}">회원가입</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    <a href="#">고객 센터</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/index}">관리자</a>
                </div>

                <!-- 반응형 아이콘:검색, 메뉴창 -->
                <div class="nav-side-icon">
                    <a href="javascript:void(0);" class="side-icon" onclick="openSearch()">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="javascript:void(0);" class="side-icon-close" onclick="closeClick()">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="responsive-menu-btn">
                    <a href="javascript:void(0);" class="icons" onclick="openMenu()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

            </div>


        </header>
        <!-- #header-start -->
    </div>


</header>

</html>