<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">

    <style>
    </style>
    <!-- 헤더 들어가는 디브 -->
    <div class="header-container">
        <header>
            <!-- 백그라운드+로고 -->
            <div class="header-background">

            </div>
            <div class="header-logo">

                <p class="logo-title"><a href="/">Cookstagram</a></p>
            </div>


            <div class="nav-container" id="header-nav">
                <div class="nav-outer-menu">
                    <div class="nav-outer-item-list">
                        <button class="dropdown-btn" onclick="location.href='/recipe/list'">
                            🧍🧍‍♂️SOCIAL
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-large">

                                        <span class="nav-inner-item">
                                             <span class="art-txt">
                                                🍛맛있는 레시피
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/list">
                                                새로 업데이트된 최신 레시피
                                            </a>
                                            <a sec:authorize="isAuthenticated()" href="/recipe/followeelist">
                                                👨‍🍳내가 구독한 주방장들의 최신 레시피
                                            </a>

                                        </span>
                                        <span sec:authorize="isAuthenticated()" class="nav-inner-item">
                                            <span class="art-txt">
                                                👨‍🍳내가 구독한 주방장들
                                           </span>
                                        </span>
                                            <span class="nav-inner-item">
                                            <!-- 에이잭스 레시피 돌리기 -->
                                           <ul class="followee" style="list-style-type: none; margin-top: 5px">

                                           </ul>

                                       </span>
                                        
                                    </div>
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🎇떠오르는 인기 태그
                                            </span>
                                        </span>
                                        <span class="nav-inner-item">
                                            <ul class="popularTag" style="list-style-type: none">

                                            </ul>
                                        </span>                                    
                                    </div>
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <span class="art-txt">
                                                🏆주방장 인기 랭킹
                                            </span>
                                        </span>
                                        <div class="popularProfile">

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </button>
                        <button class="dropdown-btn" onclick="location.href='/recipe/category/100'">
                            식사
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/101">
                                                🍚 밥
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/102">
                                            🥣 국
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/103">
                                            🍲 찌개/탕
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/104">
                                                🥢 면
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/105">
                                            🍤 튀김
                                            </a>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                       <!--  -->
                                    </div>
                                </div>
                            </div>
                        </button>

                        <button class="dropdown-btn" onclick="location.href='/recipe/category/200'">
                            사이드
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/201">
                                            🧆 밑반찬
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/202">
                                            🍮 에피타이저
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/203">
                                                🥞 간식거리
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/204">
                                            🥪 간편/가공
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/205">
                                            🧂 양념/소스
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </button>

                        <button class="dropdown-btn" onclick="location.href='/recipe/category/300'">
                            디저트
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/301">
                                                🍞 베이커리
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/302">
                                                🍦 빙과
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/303">
                                                🍪 과자/견과
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/304">
                                            🍊 과일
                                            </a>
                                        </span>
                                    </div>
                                    <div class="float-inner-small">
                                        <!--  -->
                                    </div>

                                </div>
                            </div>
                        </button>
                        <button class="dropdown-btn" onclick="location.href='/recipe/category/100'">
                            채식
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/110">
                                            🥗 다이어트 식단
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/111">
                                            🥬 유기농 음식
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/112">
                                            🥦 비건 레시피
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </button>

                        <button class="dropdown-btn" onclick="location.href='/recipe/category/200'">
                            음료
                            <!-- 세부 메뉴 -->
                            <div class="nav-inner-menu">
                                <div class="float-parent">
                                    <div class="float-inner-small">
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/310">
                                                🍹 차가운 음료
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/311">
                                            ☕ 뜨거운 음료
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/312">
                                            🥛 건강식 음료
                                            </a>
                                        </span>
                                        <span class="nav-inner-item">
                                            <a href="/recipe/category/313">
                                            🍺 알코올
                                            </a>
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                        </button>

                


                        
                        


                        <button sec:authorize="isAuthenticated()" class="recipe-btn"
                                onclick="location.href='/recipe/register'">
                            <i class="fas fa-plus"></i><span class="recipe-btn-txt">레시피 등록</span>
                        </button>

                        <button sec:authorize="isAuthenticated()" class="recipe-btn"
                                th:onclick="|window.location.href='@{/kitchen/{userId} (userId=${#authentication.getPrincipal().getUsername()}) }'|">
                            <i class="fas fa-user"></i><span class="recipe-btn-txt">마이 키친</span>
                        </button>

                        <!-- <a sec:authorize="isAuthenticated()" th:href="@{/kitchen/{userId} (userId=${#authentication.getPrincipal().getUsername()}) }" class="side-icon">
                            <i class="far fa-user"></i>
                        </a> -->


                    </div>
                    <!-- .nav-outer-menu -->
                </div>


                <!-- .nav-container -->
            </div>
            <div class="nav-side-container">
                <!-- 오른쪽 구석탱이 작은 메뉴 -->
                <div class="nav-corner-menu">
                    <a sec:authorize="isAnonymous()" th:href="@{/user/register}">회원가입</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    <a href="#">고객센터</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/}">관리자</a>
                </div>

                <!-- 반응형 아이콘:검색, 메뉴창 -->
                <div class="nav-side-icon">
                    <a href="javascript:void(0);" class="side-icon" onclick="openSearch()">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="javascript:void(0);" class="side-icon-close" onclick="closeClick()">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="responsive-menu-btn">
                    <a href="javascript:void(0);" class="icons" onclick="openMenu()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

            </div>


        </header>
        <!-- #header-start -->
    </div>


</header>
</html>