@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


.recipe-container{
    max-width: 100%;
    margin: 0 auto;
}

.recipe-main{
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    overflow: hidden;
}
.main-bg{
    border: 1px solid gray;
    min-width: 100%;
    /* height: 598px; */
    min-height: 100%;
    border: 0;
    -webkit-filter: contrast(65%);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    opacity: .6;
    z-index: -1;
}
.recipe-main-title,.recipe-main-tag,.recipe-main-user,.recipe-main-regdate{
    /* width: 100%; */
    /* position: absolute;
    color: white;
    text-align: left; */
}

.recipe-main-title {
    top: 49%;
    left: 17%;
    font-size: 50px;
    color: black;
    display: block;
    font-family: TmonMonsori;
}
.title-txt{
    font-size: 5rem;
}
.chef-thumbnail{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
}

.thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100px;
    min-height: 100px;
    width: 100%;
}
.meta-info{
    font-size: 2.5rem;
    
}
.chef-nickname{
    display: -webkit-inline-box;
}

.recipe-main-tag{
    float: left;
    top: 420px;
    left: 200px;
    font-size: 25px;
    color: white;
    margin: auto;
}
.recipe-main-user{
    top: 60%;
    left: 17%;
    font-size: 20px;
}
.recipe-main-regDate{
    top: 535px;
    left: 550px;
    font-size: 13px;
}

/* 레시피 소개 */

.recipe-content{
    font-family: TmonMonsori;
    margin-top: 3rem;
    left: 25%;
    right: 25%;
    text-align: center;
    font-size: 40px;
    color: black;

}
.recipe-content p:after {
    font-family: TmonMonsori;
    content: "\201D";
    font-size: 60px;
}
.recipe-content p:before {
    font-family: TmonMonsori;
    content: "\201C";
    font-size: 60px;

}
/* 레시피 난이도,양,조리시간 */
.recipe-info{
    border: 1px solid rgb(255 234 203);;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.title{
    border: 1px solid rgb(255 234 203);;
    background-color: rgb(255 234 203);;
}

.recipe-info p{
    font-family: TmonMonsori;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}


/* 레시피 재료 */

.recipe-ingredients{

    border: 1px solid rgb(255 234 203);
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.recipe-ingredients p{
    font-family: TmonMonsori;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}
table {
    width: 100%;
    border-top: 1px solid rgba(65, 56, 56, 0.698);
    border-collapse: collapse;
}
th {
    color: rgba(65, 56, 56, 0.698);
    padding: 10px;
}

/* 레시피 순서 */

.recipe-steps{
    border: 1px solid rgb(255 234 203);
    border-radius: 2px;
    background-color: white;
    margin-top: 20px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.recipe-steps p{
    font-family: TmonMonsori;
    font-size: 30px;
    margin-left: 10%;
}

.recipe-step{
    height: 300px;
    border: 5px solid rgb(255 234 203);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
}

.recipe-step img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    /* width: 100%; */
    /* height: 301px; */
    /* border-radius: 1px; */
    /* margin-right: 20px; */
    /* float: left; */
    position: absolute;
    height: 100%;
    min-width: 300px;
}
.recipe-step h2{
    margin-top:3%;
    font-family: TmonMonsori;
}

.recipe-step p{
    font-family: 폰트, Handon3gyeopsal300g, woff;
    margin: 2%;
    margin-right: 8%;
    font-size: 17px;
    color: rgba(65, 56, 56, 0.698);
}

/* 레시피 저자 */

.recipe-writer{
    height: 150px;
    border: 1px solid rgb(255 234 203);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.recipe-writer img{
    width: 150px;
    height: 145px;
    margin-right: 30px;
    border-radius: 50px;
    float: left;
}

.recipe-writer p{
    font-family: TmonMonsori;
    margin: 10px;
    font-size: 35px;
}
.recipe-writer h5{
    margin: 10px;
    font-size: 20px;
}
/*밑에 고정되는 부분*/
/*밑에 고정되는 부분*/
.post-btn-wrap {
    display: inline-flex;
    box-shadow: 0 15px 30px 5px #aaa;
    background-color: #f1f1f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
}

#create-scrap {
    font-size: 34px;
    display: inline-flex;
}

#create-scrap p {
    font-size: 25px;
}

#delete-scrap {
    font-size: 34px;
    display: inline-flex;
}

#delete-scrap p {
    font-size: 25px;
}

.post-div {
    margin-top: 11px;
    display: inline-flex;
}

.countDiv {
    font-size: 25px;
}

.post-div i {
    font-size: 27px;
}

.scrapT {
    font-size: 16.5px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: '메뉴';
    font-weight: 400;
}
.input-container {
    margin: 60px auto 15px;
    width: 768px;
}

.input-container #reply {
    width: 700px;
    height: 35px;
    border-radius: 1rem;
    border-color: #f18c8c;
    border-style: double;
}

.input-container #btnReply {
    width: 55px;
    height: 38px;
    border-radius: 1rem;
    border-color: #f18c8c;
    border-style: double;
}

/*해리 추가 css*/

.done-pic-container{
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: auto;
    margin-right: 10vw;
    border-radius: 30%;
    border: solid 17px #9a9286;
}

.done-pic-container img{
    opacity: 1;
}

.step-pic-container{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.float-parent.long{

    height: 600px;
}