<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/index">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <!-- 메인 로고? 화면 -->    
    <section class="index-main-art c-header" id="header"  data-scroll-section>

    
        <div class="art-background"  data-scroll>
            <div class="art-background-dot dot1" data-scroll data-scroll-speed="7.1" data-scroll-position="top"></div>
            <div class="art-background-dot dot2" data-scroll data-scroll-speed="7" data-scroll-position="top"></div>
            <div class="art-background-dot dot3" data-scroll data-scroll-speed="7.9" data-scroll-position="top"></div>
            <div class="art-background-dot dot4" data-scroll data-scroll-speed="7.4" data-scroll-position="top"></div>
            <div class="art-background-dot dot5" data-scroll data-scroll-speed="7.2" data-scroll-position="top"></div>
            <div class="art-background-dot dot6" data-scroll data-scroll-speed="7" data-scroll-position="top"></div>
        </div>
        <div class="art-text"> 
            <div class="c-header_title big-title" data-scroll>
                <span class="c-header_title_line">
                    <span class="logo-txt" data-scroll data-scroll-speed="5" data-scroll-position="top">오늘은</span>
                </span>
                <span class="c-header_title_line">
                    <span class="logo-txt" data-scroll data-scroll-speed="5" data-scroll-position="top">집에서</span>
                </span>
                <span class="c-header_title_line">
                    <span class="logo-txt" data-scroll data-scroll-speed="4" data-scroll-position="top">뭐</span>
                    <span class="logo-txt" data-scroll data-scroll-speed="4.5" data-scroll-position="top">해</span>
                    <span class="logo-txt" data-scroll data-scroll-speed="4" data-scroll-position="top">먹</span>
                    <span class="logo-txt" data-scroll data-scroll-speed="4.5" data-scroll-position="top">지</span>
                    <span class="logo-txt" data-scroll data-scroll-speed="4" data-scroll-position="top">?</span>
                </span>
                <span class="c-header_title_line art-txt-switch-container" data-scroll>
                    <span class="logo-txt art-txt-switch">백종원 카레</span>
                    <span class="logo-txt art-txt-switch">추억의 갈비찜</span>
                    <span class="logo-txt art-txt-switch">청와대 닭강정</span>
                    <span class="logo-txt art-txt-switch">시원한 깻잎 소주</span>
                </span>
                <span class="c-header_title_line" data-scroll data-scroll-speed="5" data-scroll-position="top">
                    <span class="logo-txt bounce" id="bounce" ><i class="fas fa-chevron-down"></i></span>
                </span>
                
                
            </div>                   
                
                
        </div>

        
    <!-- .index-main-art -->
    </section>

    <section data-scroll-section id="second" class="c-section index-center-content index-featured list margin">
        <h2  data-scroll data-scroll-speed="4" class="index-title-font">오늘의 추천 레시피</h2>
        <div class="float-parent box" data-scroll data-scroll-speed="3">                     
            
            
            <div class="calendar-container float-inner-small">

                <div class="calendar">
                
                                <h2 id="month">10 월</h2>
                    
                    <table>
                    
                        <thead>
                            
                            <tr>
                                
                                <td>Mo</td>
                                <td>Tu</td>
                                <td>We</td>
                                <td>Th</td>
                                <td>Fr</td>
                                <td>Sa</td>
                                <td>Su</td>
        
                            </tr>
        
                        </thead>
        
                        <tbody>
                            
                            <tr>
                                <td class="prev-month">28</td>
                                <td class="prev-month">29</td>
                                <td class="prev-month">30</td>
                                <td class="current-day event">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                
                            </tr>
        
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td class="next-month">1</td>
                                
                            </tr>
                            <tr>
                                <td class="next-month">2</td>
                                <td class="next-month">3</td>
                                <td class="next-month">4</td>
                                <td class="next-month">5</td>
                                <td class="next-month">6</td>
                                <td class="next-month">7</td>
                                <td class="next-month">8</td>
                                
                            </tr>
        
                        </tbody>
        
                    </table>
        
                </div> <!-- end calendar -->
        
            </div> <!-- end container -->

            
            <div class="float-inner-large-index">     
               
                <ul class="featured-list">
                    <th:block th:each="feature : ${features}">                    
                        <li>
                            <a th:href="@{'/recipe/'+${feature.recipeNo}}">
                                <div class="featured-thumbnail">
                                    <img th:src="@{'/display?fileName='+${feature.thumbnail}}">  
                                </div>                                
                                <div class="feature-title" th:text="${feature.title}"></div>
                                <div class="feature-nickname" th:text="'👨🏻‍🍳'+${feature.profile.nickname}"></div>
                            </a>
                        </li>
                    </th:block>
                </ul>

            </div>
        </div>
            
        
    </section>


    <section data-scroll-section id="first" class="c-section index-center-content index-recipes latest-recipes list margin">
        <h2  data-scroll data-scroll-speed="4" class="index-title-font">인기 레시피</h2>
        <div class="box full">
            <ul class="index-grid" data-scroll data-scroll-speed="3">
                <th:block th:each="recipe, recipeStat: ${recipes}">
                    <th:block th:if="${recipeStat.index} lt 12">
                        <li class="photo-recipe" data-scroll data-scroll-speed="3">
                                        
                            <a th:href="@{'/recipe/'+${recipe.recipeNo}}">
                                <div class="photo-recipe-photo">
                                    <div class="photo-recipe-overlay"></div>
                                
                                    <img th:src="@{'/display?fileName='+${recipe.thumbnail}}">  
                                    <div class="photo-recipe-fade">
                                        <div class="photo-recipe-look">레시피 보기  <i class="fas fa-arrow-circle-right"></i></div>
                                        <div class="photo-recipe-tags">
                                            <th:block th:each="tag, tagStat: ${recipe.tags}">
                                                <th:block th:if="${tagStat.index} lt 10">
                                                    <i class="fas fa-hashtag"></i><span class="photo-recipe-tags" th:text="${tag.content}+'  '"></span>
                                                </th:block>
                                            </th:block>
                                        </div>                                            
                                    </div>
                                </div>
                                
                                <div class="photo-recipe-txt">
                                    <div class="photo-recipe-title" th:text="${recipe.title}"></div>
                                    <span class="photo-recipe-cook">👨🏻‍🍳 </span>
                                    <span class="photo-recipe-nickname" th:text="${recipe.profile.nickname}+'   |  '"></span>
                                    <span class="photo-recipe-date" th:text="${#dates.format(recipe.regDate, 'yyyy-MM-dd')}"></span>
                                </div>
                            </a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>

        <section id="index-camps" data-scroll data-scroll-speed="2">
            <div class="camps">
                <ul class="campsul">
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/rpe/2020/07/24/e3d6f7e5677f2c499ed5a1c60e7b50e91.jpg"></li></a>
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/rpe/2020/07/24/fee68109fccbbebf6579bcae18cfd1281.png"></li></a>
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/rpe/2020/07/31/f9e4bbc67d5cfe61ea8e21bf0bc1e1961.jpg"></li></a>
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/rpe/2020/08/07/42a95de254a9d843515cfe26c0ef7bfb1.jpg"></li></a>
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/shop/2020/07/27/5ce5120f0ffb6fb115bc492cb3652207.jpg"></li></a>
                    <a href="#"><li class="textslide"><img src="https://recipe1.ezmember.co.kr/cache/shop/2020/07/09/68dae1bb986baa81d08132860d02a2ba.jpg"></li></a>
                </ul>
                    
                
            </div>
        </section>

    <!-- .index-center-content index-recipes latest-recipes -->
    </section>
                    
        
     <section data-scroll-section id="first" class="c-section index-center-content index-recipes latest-recipes list margin">
        <h2 data-scroll data-scroll-speed="4" class="index-title-font">최신 레시피</h2>
        <div class="box full">
            <ul class="index-grid" data-scroll data-scroll-speed="3">
                <th:block  th:each="recipe, recipeStat: ${recipes}">
                    <th:block th:if="${recipeStat.index} lt 12">
                        <li class="photo-recipe" data-scroll data-scroll-speed="3">
                                        
                            <a th:href="@{'/recipe/'+${recipe.recipeNo}}">
                                <div class="photo-recipe-photo">
                                    <div class="photo-recipe-overlay"></div>
                                
                                    <img th:src="@{'/display?fileName='+${recipe.thumbnail}}">  
                                    <div class="photo-recipe-fade">
                                        <div class="photo-recipe-look">레시피 보기  <i class="fas fa-arrow-circle-right"></i></div>
                                        <div class="photo-recipe-tags">
                                            <th:block th:each="tag, tagStat: ${recipe.tags}">
                                                <th:block th:if="${tagStat.index} lt 10">
                                                    <i class="fas fa-hashtag"></i><span class="photo-recipe-tags" th:text="${tag.content}+'  '"></span>
                                                </th:block>
                                            </th:block>
                                        </div>                                            
                                    </div>
                                </div>
                                
                                <div class="photo-recipe-txt">
                                    <div class="photo-recipe-title" th:text="${recipe.title}"></div>
                                    <span class="photo-recipe-cook">👨🏻‍🍳 </span>
                                    <span class="photo-recipe-nickname" th:text="${recipe.profile.nickname}+'   |  '"></span>
                                    <span class="photo-recipe-date" th:text="${#dates.format(recipe.regDate, 'yyyy-MM-dd')}"></span>
                                </div>
                            </a>
                        </article>
                    </th:block>
                </th:block>
            </ul>
        </div>

    <!-- .index-center-content index-recipes latest-recipes -->
    </section>

    <!-- <section data-scroll-section id="third" class="c-section index-center-content">
        <h2 class="index-title-font">🔢 카테고리</h2>
        <div class="float-parent index-category">
            <div class="big-category" onclick="location.href='/recipe/category/100'">
                메인디쉬
                <!-- 세부 메뉴 
                <div class="float-parent small-category">
                    <div class="float-inner-small">
                        <div class="category">
                            <a href="/recipe/category/101">
                                🍚 밥
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/102">
                            🥣 국
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/103">
                            🍲 찌개/탕
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/104">
                                🥢 면
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/105">
                            🍤 튀김
                            </a>
                        </div>
                    </div>
                    <div class="float-inner-small">
                        <!-- 
                    </div>
                </div>
            </div>
            
            <div class="big-category" onclick="location.href='/recipe/category/200'">
                사이드디쉬
                <!-- 세부 메뉴
                <div class="float-parent small-category">
                    <div class="float-inner-small">
                        <div class="category">
                            <a href="/recipe/category/201">
                            🧆 밑반찬
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/202">
                            🍮 에피타이저
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/203">
                                🥞 간식거리
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/204">
                            🥪 간편/가공
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/205">
                            🧂 양념/소스
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="big-category" onclick="location.href='/recipe/category/300'">
                디저트
                <!-- 세부 메뉴
                <div class="float-parent small-category">
                    <div class="float-inner-small">
                        <div class="category">
                            <a href="/recipe/category/301">
                                🍞 베이커리
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/302">
                                🍦 빙과
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/303">
                                🍪 과자/견과
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/304">
                            🍊 과일
                            </a>
                        </div>
                    </div>
                    <div class="float-inner-small">
                        <!--  
                    </div>

                </div>
            </div>

            <div class="big-category" onclick="location.href='/recipe/category/400'">
                채식
                <!-- 세부 메뉴 
                <div class="float-parent small-category">
                    <div class="float-inner-small">
                        <div class="category">
                            <a href="/recipe/category/110">
                            🥗 다이어트
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/111">
                            🥬 유기농
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/112">
                            🥦 비건
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="big-category" onclick="location.href='/recipe/category/500'">
                음료
                <!-- 세부 메뉴
                <div class="float-parent small-category">
                    <div class="float-inner-small">
                        <div class="category">
                            <a href="/recipe/category/310">
                                🍹 차가운 음료
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/311">
                            ☕ 뜨거운 음료
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/312">
                            🥛 건강식 음료
                            </a>
                        </div>
                        <div class="category">
                            <a href="/recipe/category/313">
                            🍺 알코올
                            </a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>


        

        
    </section> -->
    
    <section data-scroll-section id="forth" class="c-section index-center-content index-tags popular-tags list">
        <h2 class="index-title-font" data-scroll data-scroll-speed="2">인기 주방장</h2>
        

        
          
    <!-- .index-center-content index-tags popular-tags -->
    </section>


    <section data-scroll-section class="c-section index-center-content i-footer" 
        style="padding-bottom: 0; margin-bottom: 0;">


        <div class="footer-wrapper">
            <div class="footer" id="info_footer">
                <div class="info_inner">
                    <div class="info_banner">
                        <div class="float-parent">
                            <div class="info-link">
                                <a href="#" target="_blank">회사소개</a><span>|</span>
                                <a href="#" target="_blank">광고문의</a><span>|</span>
                                <a href="#" target="_blank">개인정보처리방침</a><span>|</span>
                                <a href="#" target="_blank">이용약관 </a><span>|</span>
                                <a href="#">고객센터</a>
                            </div>
                            <div class="info-link">
                                Copyright <b>©Cookstagram</b> Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </section>



</div>

</html>
