<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    인증된 사용자만 보입니당.

    <span sec:authentication="name"></span>님 어서오쇼
    <br>
</div>
여기는 index란다.


<a href="/user/register">유저 등록</a>
<a href="/user/list">유저 리스트</a>
<a href="/profile/register">유저 프로필 등록</a>
<a href="/profile/list">프로필 리스트</a>
<a href="/recipe/register">레시피 등록</a>
<a href="/recipe/list">레시피 리스트</a>


</div>
</form>
</body>
</html>