<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는  리스트란다.
<form action="/list" method="get">
    <input name="keyword" type="text" placeholder="검색어를 입력하세요" >
    <button>검색</button>
</form>
<table>
    <thead>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>썸넬</th>
        <th>소개</th>
        <th>삭제하기</th>
    </tr>
    </thead>
    <tr th:each="recipe, stat: *{recipes}">
        <td th:text="${stat.count}" ></td>
        <td><a th:href="@{'/recipe/'+${recipe.recipeNo}}"><p th:text="${recipe.title}"></a></td>
        <td><img th:src="@{'/display?fileName='+${recipe.getThumbnail()}}" style="width: 250px; height: 250px;"></td>
        <td th:text="${recipe.content}"></td>
        <td><a th:href="@{'/recipe/delete/' + ${recipe.recipeNo}}">삭제</a></td>
    </tr>
</table>
<a th:if="${allRecipe.size() > 5 }" th:href="@{'recipelist?keyword='+${keyword}+'&&page=1'}">더 보기</a>
<table>
    <thead>
    <tr>
        <th> 아뒤</th>
        <th> 닉</th>
        <th> 소개</th>
    </tr>
    </thead>
    <tr th:each="profile, stat: *{profiles}">
        <td th:text="${profile.userId}"></td>
        <td th:text="${profile.nickname}"></td>
        <td th:text="${profile.bio}"></td>
    </tr>
</table>
<a th:if="${allProfile.size() > 5 }" th:href="@{'userlist?keyword='+${keyword}+'&&page=1'}">더 보기</a>
<table>
    <thead>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>썸넬</th>
        <th>소개</th>
        <th>삭제하기</th>
    </tr>
    </thead>
    <tr th:each="tag, stat: *{tagRecipe}">
        <td th:text="${stat.count}" ></td>
        <td><a th:href="@{'/recipe/'+${tag.recipeNo}}"><p th:text="${tag.title}"></a></td>
        <td><img th:src="@{'/display?fileName='+${tag.getThumbnail()}}" style="width: 250px; height: 250px;"></td>
        <td th:text="${tag.content}"></td>
        <td><a th:href="@{'/recipe/delete/' + ${tag.recipeNo}}">삭제</a></td>
    </tr>
</table>
<a th:if="${allTag.size() > 5 }" th:href="@{'taglist?keyword='+${keyword}+'&&page=1'}">더 보기</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>