<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는 태그 더보기 란다.
<form action="/list" method="get">
    <input name="keyword" type="text" placeholder="검색어를 입력하세요" >
    <button>검색</button>
</form>
<table>
    <thead>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>썸넬</th>
        <th>소개</th>
    </tr>
    </thead>
    <tr th:each="tag, stat: *{tagRecipe}">
        <td th:text="${stat.count}" ></td>
        <td><a th:href="@{'/recipe/'+${tag.recipeNo}}"><p th:text="${tag.title}"></a></td>
        <td><img th:src="@{'/display?fileName='+${tag.getThumbnail()}}" style="width: 250px; height: 250px;"></td>
        <td th:text="${tag.content}"></td>
    </tr>
</table>
<div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'taglist?keyword='+${keyword}+'&&page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>
</div>
</body>
</html>