<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는 카테고리 수정하는곳 이란다.


<br>
메인 카테고리 수정하기
<select id="updateMainCategory">
    <option th:each="m : ${category}"
            th:if = "${m.getMainCategory()==null}"
            th:value="${m.getCategoryNo()}"
            th:text="${m.title}"></option>
</select>
<input type="text" id="mainCategory">
<button type="submit" id="createMainCategory">메인 카테고리 수정 버튼</button>

<br><br><br><br>
<br>
서브 카테고리 수정하기

<select id="selectSubCategory">

    <option th:each="s : ${categories}"
            th:if = "${s.getMainCategory()!=null}"
            th:value="${s.getCategoryNo()+','+s.getMainCategory().getCategoryNo()}"
            th:text="${s.title}"></option>
</select>

<input type="text" id="subCategory">
<button type="submit" id="createSubCategory">서브 카테고리 수정 버튼</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    $("#createSubCategory").click(function(){
        var checkNull = $("#subCategory").val().toString();
        checkNull = checkNull.trim();
        if($("#subCategory").val()==null||$("#subCategory").val()==""||checkNull.length==0)
        {
            alert("수정하실 이름을 입력해주세요.");
            return;
        }
        var category = {};
        var mainCategory = {};
        var tmpValue = $("#selectSubCategory")[0].selectedOptions[0].value;
        var value = tmpValue.split(",");
        category["title"] = checkNull;
        category["categoryNo"] = value[0];
        mainCategory["categoryNo"] = value[1];
        category["mainCategory"] = mainCategory;
        console.log(JSON.stringify(category));
        $.ajax({
            type:"POST",
            contentType : "application/json",
            url : "/category/create",
            data : JSON.stringify(category),
            dataType : 'text',
            success:function(data){
                console.log("SUCESS: ", data);
                history.go(0);
            }
            ,error:function(data)
            {
                console.log("error",data);
            }
        });
    });

    $("#createMainCategory").click(function(){
        var checkNull = $("#mainCategory").val().toString();
        checkNull = checkNull.trim();
        if($("#mainCategory").val()==null||$("#mainCategory").val()==""||checkNull.length==0)
        {
            alert("수정하실 이름을 입력해주세요.");
            return;
        }
        var category = {};
        category["title"] = checkNull;
        category["categoryNo"] = $("#updateMainCategory")[0].selectedOptions[0].value;

        console.log(JSON.stringify(category));
        $.ajax({
            type:"POST",
            contentType : "application/json",
            url : "/category/create",
            data : JSON.stringify(category),
            dataType : 'text',
            success:function(data){
                console.log("SUCESS: ", data);
                history.go(0);
            }
            ,error:function(data)
            {
                console.log("error",data);
            }
        });

    });
</script>

</body>
</html>