<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
여기는 카테고리 리스트 이란다.
<table>
    <thead>
    <tr>
        <th>카테고리번호</th>
        <th>참조카테고리</th>
        <th>카테고리이름</th>
    </tr>
    </thead>
    <tr th:each="cate, stat: *{category}">
        <td th:text="${cate.categoryNo}"></td>
        <td th:text="${cate.mainCategory}"></td>
        <td th:text="${cate.title}"></td>
        <!--        <td><a th:href="@{'edit/' + ${user.userId}}">수정</a></td>-->
        <td><a th:href="@{'get/' + ${cate.categoryNo}}">자세히보기</a></td>
        <td><button type="submit"  th:onclick="'delCategory('+${cate.categoryNo}+')'">삭제</button></td>
    </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function delCategory(categoryNo)
    {
        $.ajax({
            type:"POST",
            url : "/admin/category/delete/"+categoryNo,
            dataType : 'text',
            success:function(data){
                console.log("SUCESS: ", data);
                // $("#recipe-form").submit();
                history.go(0);
            },
            error:function (data) {
                console.log(data);
            }
        })
    }
</script>
</body>
</html>